<span (click)="show(merchant)">
  <ng-content></ng-content>
</span>

<ng-template #template>
    <div class="modal-content">
      <div class="modal-header bg-light">
        <div class="row">
          <div class="col-4">
            <igx-avatar [initials]="merchant.dbaName | initials" [roundShape]="true" size="medium"></igx-avatar>
          </div>
          <div class="col-8">
            <h3>{{merchant.dbaName | uppercase}}</h3>
            <div class="small">
              <div>Merchant ID: <b>{{m.merchantId}}</b></div>
              <div>Name: <b>{{merchant.merchantFirstName}} {{merchant.merchantLastName}}</b></div>
              <div>Address: <b>{{merchant.address}}</b></div>
            </div>
          </div>
        </div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="lgModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <tabset #detailTabs class="tabs-material">
          <tab heading="Merchant Details">
              <div class="container">
                <div class="row">
                  <div class="col-4">MID:</div>
                  <div class="col-8">{{m.mid}}</div>
                </div>
                <div class="row">
                  <div class="col-4">Affiliate Name:</div>
                  <div class="col-8">{{m.affiliateName}}</div>
                </div>
                <div class="row">
                  <div class="col-4">Trade Name:</div>
                  <div class="col-8">{{m.tradeName}}</div>
                </div>
                <div class="row">
                  <div class="col-4">Legal Business Name:</div>
                  <div class="col-8">{{merchant.legalBusinessName}}</div>
                </div>
                <div class="row">
                  <div class="col-4">Tax ID:</div>
                  <div class="col-8">{{m.taxId}}</div>
                </div>
                <div class="row">
                  <div class="col-4">Base Currency Code:</div>
                  <div class="col-8">{{m.baseCurrencyCode}}</div>
                </div>
                <div class="row">
                  <div class="col-4">Pricing Method:</div>
                  <div class="col-8">{{m.pricingMethod}}</div>
                </div>
                <div class="row">
                  <div class="col-4">Rebate Indicator:</div>
                  <div class="col-8">{{m.rebateIndicator}}</div>
                </div>
                <div class="row">
                  <div class="col-4">Relationship Manager:</div>
                  <div class="col-8">{{m.relationshipManagerCode}}</div>
                </div>
                <!-- <div class="row">
                  <div class="col-4">Funding Days:</div>
                  <div class="col-8"></div>
                </div> -->
                <div class="row">
                  <div class="col-4">Discount Field Mastercard:</div>
                  <div class="col-8">{{m.discountFieldMc}}</div>
                </div>
                <div class="row">
                  <div class="col-4">Discount Field Visa:</div>
                  <div class="col-8">{{m.discountFieldVisa}}</div>
                </div>
                <div class="row">
                  <div class="col-4">Discount Field Discover:</div>
                  <div class="col-8">{{m.discountFieldDiscover}}</div>
                </div>
                <div class="row">
                  <div class="col-4">Hierarchy Level:</div>
                  <div class="col-8">{{m.hierarchyLevel}}</div>
                </div>
                <div class="row">
                  <div class="col-4">Mastercard Annual Volume:</div>
                  <div class="col-8">{{m.mcAnnualVolume}}</div>
                </div>
                <div class="row">
                  <div class="col-4">Visa Annual Volume:</div>
                  <div class="col-8">{{m.visaAnnualVolume}}</div>
                </div>
                <div class="row">
                  <div class="col-4">Mastercard Average Sale:</div>
                  <div class="col-8">{{m.mcAverageTicket}}</div>
                </div>
                <div class="row">
                  <div class="col-4">Visa Average Sale:</div>
                  <div class="col-8">{{m.visaAverageTicket}}</div>
                </div>
                <!-- <div class="row">
                  <div class="col-4">Sales Limit:</div>
                  <div class="col-8">No limit</div>
                </div>
                <div class="row">
                  <div class="col-4">Credit/Refund Limit:</div>
                  <div class="col-8">$1,000</div>
                </div>
                <div class="row">
                  <div class="col-4">Auth Limit:</div>
                  <div class="col-8">$1,000</div>
                </div> -->
                <div class="row">
                  <div class="col-4">Lease Comp Code:</div>
                  <div class="col-8">{{m.leaseCompCode}}</div>
                </div>
              </div>
          </tab>
          <tab heading="Contact Information">
            <div class="container">
              <div class="row">
                <div class="col-4">First Name:</div>
                <div class="col-8">{{merchant.merchantFirstName}}</div>
              </div>
              <div class="row">
                <div class="col-4">Last Name:</div>
                <div class="col-8">{{merchant.merchantLastName}}</div>
              </div>
              <div class="row">
                <div class="col-4">Phone Number:</div>
                <div class="col-8">{{merchant.phoneNumber}}</div>
              </div>
              <div class="row">
                <div class="col-4">Email Address:</div>
                <div class="col-8">{{merchant.emailAddress}}</div>
              </div>
              <div class="row">
                <div class="col-4">Address:</div>
                <div class="col-8">{{merchant.address}}</div>
              </div>
            </div>
          </tab>
          <!-- <tab heading="Tax Information">
              <div>Tax Information</div>
          </tab>
          <tab heading="Product Information">
              <div>Product Information</div>
          </tab> -->
        </tabset>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="lgModal.hide()">Close</button>
      </div>
    </div>
</ng-template>
