.notes-textarea {
    border:1px solid lightgray;
    position:relative;
    top:6px;
    resize:none;
}

.notes-message {
    border-bottom:1px solid lightgray;
    border-left:1px solid lightgray;
    border-right:1px solid lightgray;
}
