<div class="container mt-5">
  <div class="jumbotron">
  <div class="row">
    <div class="col-6">
      <img src="../../../assets/cepsupport.png" />
    </div>
    <div class="col-6 p-5">
        <h4 class="primary-color">Reset password</h4>
        <h2 class="primary-color">Enter email to get the reset link</h2>
        <br/>
        
      <form
        #loginForm="ngForm">
      
        <div class="container mb-5">
          <div class="row form-group">
            <div class="col p-0">
              <label for="email" class="primary-color">Email address:</label>
              <input
                class="form-control"
                type="text"
                name="email"
                placeholder="Email address"
                required
                [(ngModel)]="email" />
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-center">
              <app-confirm [header]="'Reset password'" [message]="'Please confirm your email on the identity portal page.'" [okBtnText]="'OK'" (confirm)="sendResetRequest();resetPassword()">
                <button
                  [disabled]="!loginForm.valid"
                  class="btn-lg btn-primary"
                  type="submit">
                  Reset password
                </button>
              </app-confirm>
            </div>
      
            <div class="col-6 text-center">
              <button
                class="btn-lg btn-outline-secondary" type="button" (click)="cancelReset()">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>

<div class="row bg-darker p-1">
  <div class="col-6 text-right pt-3">Connect with us</div>
  <div class="col-6 pt-1">
    &nbsp;<a href="#"><img src="../../assets/facebook.svg"/></a>
    &nbsp;<a href="#"><img src="../../assets/linkedin.svg"/></a>
    &nbsp;<a href="#"><img src="../../assets/youtube.svg"/></a>
  </div>
</div>