<div class="bg-white p-3 shadow-sm">
  <div class="row justify-content-left">
    <div class="col-12 col-md-10 col-lg-7 pt-2">
        <app-search-box (search)="search($event)" [searchText]="searchBoxText"></app-search-box>
    </div>
    <div class="col-lg-5 d-none d-sm-block p-1">
      <igx-navbar [isActionButtonVisible]="false" class="p-0">
        <app-update-user-access [okBtnText]="'Add'" [header]="'Add New User'" (userAdded)="refresh($event)" >
          <button class="btn btn-primary">Add User</button>
        </app-update-user-access>
        <span #colHiding="bs-popover" [popover]="popTemplate" placement="bottom" title="Hide columns"><igx-icon>flip</igx-icon></span>
        <span title="Print"><igx-icon (click)="print()">print</igx-icon></span>
        <span title="Download XLSX"><igx-icon (click)="download()" fontSet="fa" name="fa-download"></igx-icon></span>
      </igx-navbar>
    </div>
  </div>

  <ng-template #popTemplate>
    <app-column-hiding #columnHidingUI [columns]="usersGrid.columns" (updated)="columnVisibility($event);colHiding.hide()"></app-column-hiding>
  </ng-template>

  <div class="grid-container">
    <igx-grid #usersGrid [primaryKey]="'id'" [paginationTemplate]="pagerTemplate" [data]="dataSource.connect() | async" [paging]="true" [perPage]="perPage" height="500px" width="100%" 
      [displayDensity]="'cosy'" [rowSelectable]="false" (onSelection)="handleRowSelection($event)" [emptyGridMessage]="' '" (onSortingDone)="sortingDone()" (onColumnResized)="columnResized($event)">
        <igx-column field="id" header="ID" width="100px" [resizable]="true">
          <ng-template igxHeader let-value>
            <span title="{{value.header}}">{{value.header}}</span>
          </ng-template>
        </igx-column>
        <igx-column field="firstName" header="First Name" [dataType]="'string'" [sortable]="true" [resizable]="true">
          <ng-template igxHeader let-value>
            <span title="{{value.header}}">{{value.header}}</span>
            <app-sort-indicator [isSorted]="value.field == sortedColumn" [sortDir]="sortDirection"></app-sort-indicator>
          </ng-template>
        </igx-column>
        <igx-column field="lastName" header="Last Name" [dataType]="'string'" [sortable]="true" [resizable]="true">
          <ng-template igxHeader let-value>
            <span title="{{value.header}}">{{value.header}}</span>
            <app-sort-indicator [isSorted]="value.field == sortedColumn" [sortDir]="sortDirection"></app-sort-indicator>
          </ng-template>
        </igx-column>
        <igx-column field="email" header="Email Address" [dataType]="'string'" [sortable]="true" [resizable]="true">
          <ng-template igxHeader let-value>
            <span title="{{value.header}}">{{value.header}}</span>
            <app-sort-indicator [isSorted]="value.field == sortedColumn" [sortDir]="sortDirection"></app-sort-indicator>
          </ng-template>
        </igx-column>
        <igx-column field="role" header="Role" [dataType]="'string'" [resizable]="true">
          <ng-template igxHeader let-value>
            <span title="{{value.header}}">{{value.header}}</span>
          </ng-template>
          <ng-template igxCell let-value>
            {{ userRoleTitle(value) }}
          </ng-template>
        </igx-column>
        <igx-column header="Actions" width="100px" disableHiding="true">
          <ng-template igxCell let-cell="cell">
            <div class="actions_cell_class">
              <app-update-user-access [okBtnText]="'Update'" [header]="'Edit User Access'" [user]="cell.row.rowData" (userUpdated)="refresh($event)">
                <igx-icon fontSet="material" class="primary-color">edit</igx-icon>
              </app-update-user-access>
              <app-confirm [header]="'Confirm delete'" [message]="'Delete user ' + cell.row.rowData.firstName + ' ' + cell.row.rowData.lastName + '?'" [okBtnText]="'Delete'" [cancelBtnText]="'Cancel'" (confirm)="deleteUser(cell.row.rowData.id)">
                <igx-icon fontSet="material" class="primary-color">delete</igx-icon>
              </app-confirm>
            </div>
          </ng-template>
      </igx-column>
    </igx-grid>
  </div>

  <div *ngIf="dataSource.loading$ | async" style="position:absolute;margin-top:-300px;margin-left:45%;">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <ng-template #pagerTemplate let-api>
    <div *ngIf="totalCount > 0" class="row" style="width:100%;">
      <div class="col-auto pt-1">Showing {{(page - 1) * perPage + 1}} - {{(page * perPage) > totalCount ? totalCount : page * perPage}} of {{totalCount}} results</div>
      <div class="col-auto pt-1">
        Show
        <select #selectPerPage [(ngModel)]="perPage">
          <option>5</option>
          <option>10</option>
          <option>25</option>
          <option>50</option>
          <option>100</option>
        </select>
        results
      </div>
      <div class="col">
        <pagination class="pull-right" [totalItems]="totalCount" [itemsPerPage]="perPage" [(ngModel)]="page" [previousText]="'&lt; Previous'" [nextText]="'Next &gt;'" [maxSize]="15" (pageChanged)="pageChanged($event)"></pagination>
      </div>
    </div>
  </ng-template>
</div>
