@import "pager/pager.component";
@import "column-hiding/column-hiding.component";
@import "tabs/merchant-management/merchant-management.component";
@import "tabs/merchant-management/merchant-details/merchant-details.component";
@import "tabs/reporting/reporting.component";
@import "nav/nav.component.scss";
@import "tabs/my-support/my-support.component";
@import "tabs/my-support/add-ticket/add-ticket.component";



// .tabs-material .nav-tabs { border-bottom: 2px solid #DDD; }
.tabs-material .nav-tabs > li.active > a,
.tabs-material .nav-tabs > li.active > a:focus,
.tabs-material .nav-tabs > li.active > a:hover {
    border-width: 0;
}

.tabs-material .nav-tabs > li::before {
    content: "|";
    display: inline-block;
}
.tabs-material .nav-tabs > li:first-child::before {
    display: none;
}

.tabs-material .nav-tabs > li > a {
    border: none;
    border-top-width: 0px !important;
    color: #666 !important;
    position: relative;
    display: inline-block;
    background: transparent !important;
}
.tabs-material .nav-tabs > li.active > a,
.tabs-material .nav-tabs > li > a:hover {
    border: none;
    border-top-width: 0px !important;
    color: #4285F4 !important;
    background: transparent !important;
}
.tabs-material .nav-tabs > li > a::after {
    content: "";
    background: #4285F4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}
.tabs-material .nav-tabs > li.active > a::after,
.tabs-material .nav-tabs > li:hover > a::after {
    transform: scale(1);
}
.tabs-material .tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}
.tabs-material .tab-pane {
    padding: 15px 0;
}
.tabs-material .tab-content {
    padding: 15px;
}

.text-dark {
    color: #000A23 !important;
}

.custom-file-label {
    border-radius: 0px;
}

.custom-file-label::after {
    border-radius: 0px !important;
    content: "Attach Image" !important;
}