<span (click)="openModal(template)">
  <ng-content></ng-content>
</span>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{header}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="updateForm" (ngSubmit)="modalRef.hide();update()">
      <div class="container small">

        <div class="row">
          <div class="form-group col-6">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" formControlName="firstName" [value]="model.firstName">
          </div>
          <div class="form-group col-6">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" formControlName="lastName" [value]="model.lastName">
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email Address:</label>
          <input type="text" class="form-control" formControlName="email" [value]="model.email">
        </div>

        <div class="row" *ngIf="!isUpdating()">
          <div class="form-group col-6">
            <label for="password">Password:</label>
            <input type="password" class="form-control" formControlName="password"/>
          </div>

          <div class="form-group col-6">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" class="form-control" formControlName="confirmPassword" />
          </div>
        </div>

        <div class="form-group">
          <label for="role">Role:</label>
          <select type="text" class="form-control" formControlName="role">
            <option value="" disabled [selected]="!model.role">Select...</option>
            <option *ngFor="let p of userRoleData" [value]="getUserRoleValue(p)" [selected]="isRoleSelected(p)">{{p}}</option>
          </select>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-auto pl-0">Channels:</div>
            <div class="btn-group col-auto pr-0">
              <label *ngFor="let channel of userChannels()" class="btn btn-outline-primary" [class.active]="updateForm.value[channel.property]"
                btnCheckbox [formControlName]="channel.property" tabindex="0" role="button">{{channel.title}}</label>
            </div>
          </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modalRef.hide()">Close</button>
        <button type="button" class="btn btn-primary" type="submit" [disabled]="updateForm.invalid">{{okBtnText}}</button>
      </div>
    </form>
  </div>
</ng-template>