.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form).ng-touched  {
  border-left: 5px solid #a94442; /* red */
  display: inline;
}

input.ng-invalid.ng-touched + .invalid-feedback {
  display: inline;
}