.home-background {
    background-image: url(../../assets/hero-banner.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    height: 500px;
    width: 100%;
}

.home-search {
    padding-top: 240px;
}

.boldred {
    color: darkred;
    font-weight: bold;
}
