.home-background {
    background-image: url(../../assets/hero-banner.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    height: 500px;
    width: 100%;
}

.home-search {
    padding-top: 240px;
}

.boldred {
    color: darkred;
    font-weight: bold;
}

.hero-container {
    height:550px;
    background-image: url('../../assets/heroimage.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
}

.hero-text {
    margin-top:200px;
    font-size:x-large;
    font-weight:bold;
    text-shadow: 2px 2px 3px white;
}
